* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    color: orange;
    margin: 16px;   /* multiplos de 4 para definir tamanhos (fonte, espaços) */
}

.texto-com-background {
    background-color: yellow;
}

#texto-com-outra-cor {
    color: green
}

